.main-current-weather {
    display: flex;
    justify-content: left;
    margin-left: 45px
}

.city-info {
    display:flex;
    flex-direction: column;
    text-align: right;
    margin-left:60px
}

.temp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 3.9vw;
    margin-bottom: 1.1vw;
    margin-left:10px
}

.weather-condition {
    display: flex;
    flex-direction: row;
}

.weather-condition-2nd-layer {
    display:flex;
    flex-direction: column;
}
