.forecast-weather {
    display: flex;
    justify-content: left;
}

.rodape {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(white, aliceblue);
    margin-top: 3vh;
    margin-bottom: 0px;
}

.main-details {
    display: flex;
    flex-direction: column;
    margin-left:13vw;
}

.table-orientation {
    display: flex;
    flex-direction: row;
}