.about-section {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.img-about {
    margin: 100px 100px;
}

.img-about>img {
    width: 400px;
}

.text-about {
    width: 50vw;
}

.text-about-title {
    margin: 150px 0px 0px 0px;
    font-size: 50px;
}

.text-about-msg {
    text-align: justify;
    font-size: 25px;
}