/* * {
    background-color: gainsboro;
} */

.information {
    font-size: 30px;
}

.temp {
    font-size: 60px;
}

.info {
    font-size: 30px;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.marginRight {
    margin-right: 10px;
}

.heightCurrent {
    height: 110px;

}

.padding-itens {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-current {
    padding-top: 12px;
}

.currentWeather {
    background-color: rgba(233, 233, 233, 0.685);
}

.infoWeather {
    background-color: khaki;
}

.margin-top-forecast {
    margin-top: 5px;
}

.margin-bottom-forecast {
    margin-bottom: 5px;
}

.date-font {
    font-weight: bolder;
    font-size: 20px;
}

.disabled-link {
    pointer-events: none;
}