.main-Nav{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(aliceblue, white);
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 45px;
}

.main-Nav > div > input:hover{
    background-image: linear-gradient(to right, #93D5FF, #91EAE4);
    opacity: 0.4;
}