body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* forecast wave style */

.scrollComponent {
  overflow: auto;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  height: 72vh;
  text-align: left;
}

.scrollComponent::-webkit-scrollbar {
  width: 0.5vw;
}

.scrollComponent::-webkit-scrollbar-track {
  background-color: rgb(37, 150, 190);
  border-radius: 100px;
}

.scrollComponent::-webkit-scrollbar-thumb {
  box-shadow: inset 10px 10px 10px 10px rgb(53, 108, 128);
  border-radius: 100px;
}

/* reference to do responsive with react

https://www.w3schools.com/css/css_rwd_mediaqueries.asp
https://dev.to/jrx2/responsive-design-in-react-components-7d1

*/